/docs
/docs-util
/www
typedoc.*
jest*

packages/*
# List of packages to Lint
!packages/acmekit
!packages/admin-ui
!packages/admin
!packages/admin-next
!packages/admin-next/dashboard
!packages/acmekit-payment-stripe
!packages/acmekit-payment-paypal
!packages/modules/event-bus-redis
!packages/modules/event-bus-local
!packages/acmekit-plugin-meilisearch
!packages/acmekit-plugin-algolia
!packages/modules/inventory
!packages/modules/stock-location
!packages/modules/cache-redis
!packages/modules/cache-inmemory
!packages/modules/caching
!packages/modules/providers/caching-redis
!packages/create-acmekit-app
!packages/modules/product
!packages/modules/locking
!packages/modules/translation
!packages/core/orchestration
!packages/core/workflows-sdk
!packages/core/core-flows
!packages/core/types
!packages/acmekit-react
!packages/modules/workflow-engine-redis
!packages/modules/workflow-engine-inmemory
!packages/modules/fulfillment
!packages/modules/providers/fulfillment-manual
!packages/modules/providers/locking-postgres
!packages/modules/providers/locking-redis
!packages/modules/index
!packages/core/framework


**/models/*
**/scripts/*
**/dist/*
**/node_modules/*
**/migrations/*
**/__mocks__/*

.eslintrc.js
